name: xai-shift
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cudatoolkit
  - numpy
  - pandas
  - scipy
  - scikit-image
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyterlab
  - pyarrow
  - pip
  - pip:
      - poetry
